fun main() -> u32 {
    let a: *Arena = ast_init()
    let p1: *u8 = arena_take(a, 32)
    let p2: *u8 = arena_take(a, 32)
    let p3: *u8 = arena_take(a, 32)
    if a.pos != 96 { return 1 }
    return 33
}
