fun main() -> u32 {
    let ar: Arena
    arena_init(&ar, IO_BUF, 65536)
    let buf: *u8 = arena_take(&ar, 4096)
    let ruta: str = 'tests/hello.tt\0'
    let fd: u64 = io_open_read(ruta.ptr)
    let n: u64 = io_read(fd, buf, 4096)
    io_write(1, buf, n)
    io_close(fd)
    io_exit(0)
    return 0
}
