import 'src/runtime/io.tt'
import 'lib/str.tt'
import 'lib/fmt.tt'
import 'lib/vec.tt'
import 'lib/ast.tt'
import 'src/lexer.tt'
import 'src/parser.tt'
import 'src/check.tt'
import 'src/ir.tt'
import 'src/codegen.tt'
import 'lib/sha256.tt'
import 'src/asm.tt'
import 'src/macho.tt'
import 'src/codegen_bytes.tt'
import 'src/main.tt'
