fun main() -> u64 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    while 0 {
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    }
    return 0
}
