fun main() -> u32 {
    let ar: *Arena = ir_init()
    let fn: *IrFn = mk_ir_fn(ar, 0, 0)
    let b: *B = mk_builder(ar, fn)

    let l: *Expr = mk_expr(ar, EX_INT)
    l.ival = 3
    let r: *Expr = mk_expr(ar, EX_INT)
    r.ival = 4
    let e: *Expr = mk_expr(ar, EX_BIN)
    e.lhs = l
    e.rhs = r
    e.op = OP_ADD

    let dst: u64 = lower_expr(b, e)

    let cnt: u64 = 0
    let it: *Ins = fn.head
    while it != nil {
        cnt = cnt + 1
        it = it.next
    }
    return cnt
}
