bss PARSER_BUF: 65536

fun main(argc: u64, argv: **u8) -> u32 {
    let ruta: *u8 = argv[1]
    let fd: u64 = io_open_read(ruta)
    let n: u64 = io_read(fd, PARSER_BUF, 65536)
    io_close(fd)
    let ar: *Arena = ast_init()
    let p: *Program = parse(ar, PARSER_BUF, n)
    return 55
}
