bss NL_BUF: 1

fun main() -> u32 {
    let ar: Arena
    arena_init(&ar, IO_BUF, 65536)
    let buf: *u8 = arena_take(&ar, 16384)
    let ruta: str = 'tests/hello.tt\0'
    let fd: u64 = io_open_read(ruta.ptr)
    let n: u64 = io_read(fd, buf, 16384)
    io_close(fd)

    let lx: Lexer
    lex_init(&lx, buf, n)

    let nl: NameList
    nl_init(&nl, &ar, 128)
    collect_fun_names(&lx, &nl)

    NL_BUF[0] = 10

    let i: u64 = 0
    while i < nl.n {
        let sp: *u64 = nl.starts + i * 8
        let lp: *u64 = nl.lens   + i * 8
        let s: u64 = @sp
        let ln: u64 = @lp
        io_write(1, buf + s, ln)
        io_write(1, NL_BUF, 1)
        i = i + 1
    }

    io_exit(nl.n)
    return 0
}
