bss SHA_IN: 256
bss SHA_OUT: 32

fun sha_eq(a: *u8, b: *u8) -> u32 {
    let i: u64 = 0
    while i < 32 {
        if a[i] != b[i] { return 0 }
        i = i + 1
    }
    return 1
}

fun sha_fill(p: *u8, c: u64, n: u64) {
    let i: u64 = 0
    while i < n { p[i] = c  i = i + 1 }
}

fun main() -> u32 {
    let out: *u8 = SHA_OUT
    let inp: *u8 = SHA_IN
    sha_fill(inp, 97, 0)
    sha256(inp, 0, out)
    let e0: str = '\xe3\xb0\xc4\x42\x98\xfc\x1c\x14\x9a\xfb\xf4\xc8\x99\x6f\xb9\x24\x27\xae\x41\xe4\x64\x9b\x93\x4c\xa4\x95\x99\x1b\x78\x52\xb8\x55'
    if sha_eq(out, e0.ptr) == 0 { return 1 }
    sha_fill(inp, 97, 1)
    sha256(inp, 1, out)
    let e1: str = '\xca\x97\x81\x12\xca\x1b\xbd\xca\xfa\xc2\x31\xb3\x9a\x23\xdc\x4d\xa7\x86\xef\xf8\x14\x7c\x4e\x72\xb9\x80\x77\x85\xaf\xee\x48\xbb'
    if sha_eq(out, e1.ptr) == 0 { return 2 }
    sha_fill(inp, 97, 55)
    sha256(inp, 55, out)
    let e2: str = '\x9f\x43\x90\xf8\xd3\x0c\x2d\xd9\x2e\xc9\xf0\x95\xb6\x5e\x2b\x9a\xe9\xb0\xa9\x25\xa5\x25\x8e\x24\x1c\x9f\x1e\x91\x0f\x73\x43\x18'
    if sha_eq(out, e2.ptr) == 0 { return 3 }
    sha_fill(inp, 97, 56)
    sha256(inp, 56, out)
    let e3: str = '\xb3\x54\x39\xa4\xac\x6f\x09\x48\xb6\xd6\xf9\xe3\xc6\xaf\x0f\x5f\x59\x0c\xe2\x0f\x1b\xde\x70\x90\xef\x79\x70\x68\x6e\xc6\x73\x8a'
    if sha_eq(out, e3.ptr) == 0 { return 4 }
    sha_fill(inp, 97, 63)
    sha256(inp, 63, out)
    let e4: str = '\x7d\x3e\x74\xa0\x5d\x7d\xb1\x5b\xce\x4a\xd9\xec\x06\x58\xea\x98\xe3\xf0\x6e\xee\xcf\x16\xb4\xc6\xff\xf2\xda\x45\x7d\xdc\x2f\x34'
    if sha_eq(out, e4.ptr) == 0 { return 5 }
    sha_fill(inp, 97, 64)
    sha256(inp, 64, out)
    let e5: str = '\xff\xe0\x54\xfe\x7a\xe0\xcb\x6d\xc6\x5c\x3a\xf9\xb6\x1d\x52\x09\xf4\x39\x85\x1d\xb4\x3d\x0b\xa5\x99\x73\x37\xdf\x15\x46\x68\xeb'
    if sha_eq(out, e5.ptr) == 0 { return 6 }
    sha_fill(inp, 97, 120)
    sha256(inp, 120, out)
    let e6: str = '\x2f\x3d\x33\x54\x32\xc7\x0b\x58\x0a\xf0\xe8\xe1\xb3\x67\x4a\x7c\x02\x0d\x68\x3a\xa5\xf7\x3a\xaa\xed\xfd\xc5\x5a\xf9\x04\xc2\x1c'
    if sha_eq(out, e6.ptr) == 0 { return 7 }
    sha_fill(inp, 97, 128)
    sha256(inp, 128, out)
    let e7: str = '\x68\x36\xcf\x13\xba\xc4\x00\xe9\x10\x50\x71\xcd\x6a\xf4\x70\x84\xdf\xac\xad\x4e\x5e\x30\x2c\x94\xbf\xed\x24\xe0\x13\xaf\xb7\x3e'
    if sha_eq(out, e7.ptr) == 0 { return 8 }
    return 0
}
