import 'lib/std.tt'

fun main() -> u32 {
    stdio_init()
    let hello: str = 'tetsuo '
    print(hello)
    print_u64(42)
    let done: str = ' ready'
    println(done)
    flush()
    let err: str = 'stderr'
    eprintln(err)
    eflush()
    return 0
}
