import 'lib/string.tt'

fun check_codepoint(s: str, want_n: u64, want_cp: u64) -> u64 {
    let cp: u64 = 99
    let n: u64 = str_next_codepoint(s.ptr, s.len, 0, &cp)
    if n != want_n { return 0 }
    if n == 0 { return 1 }
    if cp != want_cp { return 0 }
    return 1
}

fun main() -> u64 {
    let ascii: str = 'A'
    if check_codepoint(ascii, 1, 65) == 0 { return 1 }
    let two: str = '\xc2\xa2'
    if check_codepoint(two, 2, 162) == 0 { return 2 }
    let three: str = '\xe6\x97\xa5'
    if check_codepoint(three, 3, 26085) == 0 { return 3 }
    let four: str = '\xf0\x9f\x98\x80'
    if check_codepoint(four, 4, 128512) == 0 { return 4 }
    let truncated: str = '\xe2\x82'
    if check_codepoint(truncated, 0, 0) == 0 { return 5 }
    let continuation: str = '\xe2\x28\xa1'
    if check_codepoint(continuation, 0, 0) == 0 { return 6 }
    let overlong2: str = '\xc0\x80'
    if check_codepoint(overlong2, 0, 0) == 0 { return 7 }
    let overlong3: str = '\xe0\x80\x80'
    if check_codepoint(overlong3, 0, 0) == 0 { return 8 }
    let surrogate: str = '\xed\xa0\x80'
    if check_codepoint(surrogate, 0, 0) == 0 { return 9 }
    let too_high: str = '\xf4\x90\x80\x80'
    if check_codepoint(too_high, 0, 0) == 0 { return 10 }
    let stray: str = '\x80'
    if check_codepoint(stray, 0, 0) == 0 { return 11 }
    let max: str = '\xf4\x8f\xbf\xbf'
    if check_codepoint(max, 4, 1114111) == 0 { return 12 }
    let cp: u64 = 0
    if str_next_codepoint(ascii.ptr, ascii.len, 1, &cp) != 0 { return 13 }
    return 0
}